{% extends 'meansunz/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
	<div class="contentBody">
		<h2>
			About
		</h2>
		<p>
			Welcome to meansunz! This is a gamified bulletin board, where the aim is to become the most popular on the site. Your popularity
			score depends on how many "upvotes" you get on all of your posts. You can check the leaderboards to see who the most popular people
			are! To start posting you must first of all register and login. Then you can access any category that interests you and start posting!
		</p>
	</div>
{% endblock %}