<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Lato:200,300,400|Oswald:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style\style sheet.css' %}">
    <meta charset="UTF-8"/>
    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(function () {
            var interval = 1;
            var duration = 1;
            var shake = 1;
            var vibrateIndex = 0;
            var selector = $('.logo'); /* Your own container ID*/
            $(selector).hover( /* The button ID */
                function () {
                    vibrateIndex = setInterval(vibrate, interval);
                },
                function () {
                    clearInterval(vibrateIndex);
                    $(selector).stop(true, false)
                        .css({position: 'static', left: '0px', top: '0px'});
                }
            );

            var vibrate = function () {
                $(selector).stop(true, false)
                    .css({
                        position: 'relative',
                        left: Math.round(Math.random() * shake) - ((shake + 1) / 2) + 'px',
                        top: Math.round(Math.random() * shake) - ((shake + 1) / 2) + 'px'
                    });
            }
        });
    </script>

    <script>
        $(function () {
            $("#dialog").dialog();
        });
    </script>
    {% block head_block %}{% endblock %}

    <title>
        Meansunz

        {% block title_block %} Title Goes Here {% endblock %}

    </title>
</head>
<body>

<div class="header">

    <div class="topBar">
        <div class="logo"><img src="{% static "images\meansunz_logo_no_text.png" %}" alt="meansunz logo"></div>
        <div class="header_title"><a href=" {% url 'index' %}"><h1>Meansunz</h1></a></div>
        <div class="maxFlex"></div>

        {# If logged in show user profile else show login/register buttons #}
        {% if user.is_authenticated %}
            <div class="userProfile">
                <div id="userProfileName"><a href="{% url 'user_profile' %}">{{ user.username }}</a></div>
                {% if user.profile.picture %}
                    <img src="{{ MEDIA_URL }}{{ user.profile.picture }}" alt="profile picture">
                {% else %}
                    <img src="{% static "images\blank_profile.png" %}" alt=" profile picture">
                {% endif %}
                <div class="buttonBig"><a href=" {% url 'signout' %} ">Sign Out</a></div>
                <div class="buttonBig"><a href=" {% url 'user_posts' %} ">My Posts</a></div>
            </div>
        {% else %}
            <div class="buttonBig"><a href=" {% url 'login' %}">Login</a></div>
            <div class="buttonBig"><a href="{% url 'register' %}">Register</a></div>
        {% endif %}
    </div>

    <div class="separator"></div>

    <div class="bottomBar">
        <div class="navBar">
            <div class="navButton"><a href="{% url 'about' %}">About</a></div>
            <div class="navButton"><a href="{% url 'leaderboards' %}">Leaderboards</a></div>

            {# If there are categories render them all #}
            {% if categories %}
                {% for category in categories %}
                    <div class="navButton"><a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
                    </div>
                {% endfor %}
            {% endif %}
            {# render create cat option if user is superuser #}
            {% if user.is_superuser %}
                <div class="navButton"><a href="{% url 'add_category' %}">Add Category</a>
                </div>
            {% endif %}
        </div>
        {% if posts %}
            <div class="filterBar">
                <div style="font-size: 18px; font-family: Lato; color: rgb(10, 10, 10); margin:auto;">SORT:</div>
                <div class="dropDownList">
                    <form action="{{ request.path }}" method="get">
                        <select name="sort" onChange="form.submit();">
                            {% if sort == "date" %}
                                <option value="date" selected>New</option>
                                <option value="votes">Most Liked</option>
                            {% else %}
                                <option value="date">New</option>
                                <option value="votes" selected>Most Liked</option>
                            {% endif %}
                        </select>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="separator"></div>

</div>

<div>
    {% block body_block %} {# Body Goes Here #} {% endblock %}
</div>

{% block js-foot %} {# Javascript Footer #} {% endblock %}
</body>
