<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style\style sheet.css' %}">
    <meta charset="UTF-8" />
    <title>
        Meansunz
    </title>
</head>
<body>

    <div class = "header">

        <div class = "topBar">
            <div class = "logo"><img src="{% static "images\meansunz_logo.jpg" %}" alt="meansunz logo"> </div>
            <h1>MeanSunz</h1>
            <div class = "maxFlex"></div>
            <ul>
                <li><div class = "login">Login</div></li>
                <li><div class = "register">Register</div></li>
            </ul>
        </div>

        <div class = "bottomBar">
            <div class = "navBar">
                <div class = "navButton"><div class = "centred">About</div></div>
                <div class = "navButton"><div class = "centred">Leaderboards</div></div>
            </div>
            <div class = "filterBar">
                <div>Sort:</div>
                <div class = "filterButton">*DROPDOWN LIST*</div>
            </div>
        </div>

    </div>

    <div>
    {% block body_block %}
    {% endblock %}
    </div>
    <hr />
</body>
</html>