{% extends 'meansunz/render_posts.html' %}
{% load staticfiles %}
{% load meansunz_template_tags %}

{% block title_block %}
    {{ category }}
{% endblock %}

{% block content_block %}
    {% if category %}
        {% if user.is_authenticated %}
            <div style="margin-left: auto; margin-right: auto;">
                <a style="font-size: 16px;" class="createPost" href="{% url 'create_post' category.slug %}">Create
                    Post</a>
            </div>
        {% endif %}

        <div style="display:flex;flex-direction:row;margin-bottom:25px;">
            <div><h2>{{ category }}</h2></div>
        </div>
    {% else %}
        <h2>Invalid Category</h2>
    {% endif %}

{% endblock %}
