{% extends 'meansunz/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Index
{% endblock %}

{% block head_block %}
    <style>
        p {
            color: white;
        }

        form {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block body_block %}

    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'create_post' category.slug %}">Create Post</a>
        {% endif %}
    </div>

    <div>
        {% if posts %}

            <ul>
                {% for post in posts %}
                    <li>

                        <p><a href="{% url 'show_post' category.slug post.id post.slug %}">{{ post.title }}</a></p>

                        {% if post.picture %}
                            <p><object width="355" height="200" data="{{ MEDIA_URL }}{{ post.picture }}"></object></p>
                        {% endif %}

                        <form action="{% url 'vote' category.slug post.id post.slug %}" method="post">
                            {% csrf_token %}
                            <button type="submit" name="upvote_post" value="upvote_post">+</button>
                            <!-- next points to site to be redirected back to after vote -->
                            <input type="hidden" name="next" value="{{ request.path }}">
                        </form>
                        {{ post.likes }}
                        <form action="{% url 'vote' category.slug post.id post.slug %}" method="post">
                            {% csrf_token %}
                            <button type="submit" name="downvote_post" value="downvote_post">-</button>
                            <!-- next points to site to be redirected back to after vote -->
                            <input type="hidden" name="next" value="{{ request.path }}">
                        </form>

                    </li>
                    <br/>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no posts present.</strong>
        {% endif %}
    </div>

{% endblock %}