{% extends 'meansunz/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Create Post
{% endblock %}

{% block body_block %}
    <h1>Create Post</h1>
    <div>
        {% if category %}
        <form id="page_form" method="post" action="/category/{{ category.slug }}/create_post/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br />
            {% endfor %}
            <input type="submit" name="submit" value="Create Post" />
        {% else %}
            A category by this name does not exist
        {% endif %}
        </form>
    </div>
    <div>
        {% if category %}
            <br /><a href="{% url 'show_category' category.slug %}">{{ category }}</a>
        {% endif %}
    </div>
{% endblock %}