{% extends 'meansunz/base.html' %}
{% load staticfiles %}
{% load meansunz_template_tags %}

{% block title_block %}
    Index
{% endblock %}

{% block head_block %}
{% endblock %}

{% block body_block %}

    <div class="contentBody">
        {% if posts %}

            {% for post in posts %}
                <div class="post">
                    <div class="voteBar">
                        <div class="upVote">
                            <form action="{% url 'vote' post.category.slug post.id post.slug %}" method="post">
                                {% csrf_token %}
                                <button type="submit" name="vote" value="1">+</button>
                                <!-- next points to site to be redirected back to after vote -->
                                <input type="hidden" name="next" value="{{ request.path }}">
                            </form>
                        </div>
                        <div class="downVote">
                            <form action="{% url 'vote' post.category.slug post.id post.slug %}" method="post">
                                {% csrf_token %}
                                <button type="submit" name="vote" value="-1">-</button>
                                <!-- next points to site to be redirected back to after vote -->
                                <input type="hidden" name="next" value="{{ request.path }}">
                            </form>
                        </div>
                        <div>
                            <h6>{% get_post_votes post %}</h6>
                        </div>
                    </div>
                    <div class="postContent">
                        <div>
                            <h4>
                                <a href="{% url 'show_post' post.category.slug post.id post.slug %}">{{ post.title }}</a>
                            </h4>
                        </div>

                        <div>
                            <h4>{{ post.user }}</h4>
                        </div>

                        <div class="commentsBar">
                            <div>
                                <h6>1233 Comments</h6>
                            </div>
                            <div>
                                <h6>Report</h6>
                            </div>
                        </div>
                    </div>
                    <div class="postMedia">
                        {% if post.picture %}
                            <p><img src="{{ MEDIA_URL }}{{ post.picture }}" alt=""></p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2 style="font-size: 30px"><strong>There are no posts present.</strong></h2>
        {% endif %}
    </div>

{% endblock %}