{% extends 'meansunz/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
	<div class="contentBody">
		<div style="display:flex;flex-direction:row;">
			<div>
				<h2>
					Leaderboards
				</h2>
			</div>
		</div>
		<div id="leaderBoardTable">
			<table class="leaderBoardTable">
				<tr>
					<th>Username</th>
					<th>Popularity score</th>
				</tr>
				{% for profile in profiles %}
				<tr>
					<td> {{ profile.user.username }} </td>
					<td> {{ profile.rating_comment|add:profile.rating_post }} </td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}