{% extends 'meansunz/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
	<div class="contentBody">
		<div><h2>Login to Meansunz</h2></div>
        {% if message %}
            {{ message }}
        {% endif %}
		<div><form id="login_form" method="post" action="{% url 'login' %}">
			{% csrf_token %}
			<input class="textForm" type="text" name="username" placeholder="USERNAME" size="50"/>
			<br/>
			<input class="textForm" type="password" name="password" placeholder="PASSWORD" size="50"/>
			<br/>
			<input class="buttonForm" type="submit" value="LOGIN"/>
		</form></div>
	</div>
{% endblock %}