{% extends 'meansunz/render_posts.html' %}
{% load staticfiles %}
{% load meansunz_template_tags %}

{% block head_block %}
{% endblock %}

{% block title_block %}
    {{ post.title }}
{% endblock %}

    {% block content_footer_block %}
								
		<div class="postDesc"><blockquote class="commentMessage">{{ post.description }}</blockquote></div>
		
        <div class="separator"></div>
        <br />

        {# New comment form #}
        {% if user.is_authenticated %}
            <!--TODO comment on how post are generated-->
            <div><p>Comment as {{ user.username }}</p></div>

            <form id="comment_form" method="post"
                  action="/category/{{ category.slug }}/{{ post.id }}/{{ post.slug }}/"
                  enctype="multipart/form-data">

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <input type="submit" name="submit" value="Comment"/>
            </form>
            <div class="separator"></div>
            <br />
        {% endif %}


        {# Render Comments #}
        {% if comments %}
            {% for comment, voted in comments %}

                <div class="post">
                    <div class="voteBar">
                        
                            <form action="{% url 'vote_comment' category.slug post.id post.slug %}" method="post" id ="vote-form">
                                {% csrf_token %}
                                    {# Highlight if user has already voted #}
                                    {% if voted.0.value == 1 %}
                                        <input class="voteUpButton" name="voted" type="image" src="{% static 'images/up_vote_arrow.png' %}" value="1" />
                                    {% else %}
                                        <input class="voteUpButton" name="notVoted" type="image" src="{% static 'images/up_vote_arrow.png' %}" value="1" />
                                    {% endif %}
                                    {% if voted.0.value == -1%}
                                        <input class="voteDownButton" name="voted" type="image" src="{% static 'images/down_vote_arrow.png' %}" value="-1" />
                                    {% else %}
                                        <input class="voteDownButton" name="notVoted"type="image" src="{% static 'images/down_vote_arrow.png' %}" value="-1" />
                                    {% endif %}
                                {# comment id to later identify comment upvoted #}
                                <input type="hidden" class="id" value="{{ comment.id }}">
                            </form>
                        
                    </div>
                    <div class="postContent">
                        <div style="display:flex;margin:10px;">
                            
                            <div style="float: left;
										margin-left: 20px;
										margin-right: 20px;
										margin-top: 3px;
										margin-bottom: 5px;">
										
							{% if comment.picture %}
                            <img class="comment-img" src="{{ MEDIA_URL }}{{ comment.picture }}" alt=""
                                                            style="float:left;">
							{% endif %}
							</div
							<blockquote class="commentMessage">
                            {{ comment.content }}
						    </blockquote>
                        </div>
						
                        <div>
                            <h4>{{ comment.user }}</h4>
                        </div>

                        <div class="rating">
                            <h6>{% get_comment_votes comment %} RATING</h6>
                        </div>
                    </div>

                </div>



            {% endfor %}
        {% endif %}
{% endblock %}