{% extends 'meansunz/base.html' %}
{% load staticfiles %}
{% load meansunz_template_tags %}

{% block head_block %}
{% endblock %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    {% if post %}
        <h2>{{ post.title }}</h2>
        {% if post.picture %}
            <div style="display:flex ;flex-direction: row; margin-bottom:10px;" >
                <object width="355" height="200" data="{{ MEDIA_URL }}{{ post.picture }}"></object>
            </div>

        {% endif %}
        <div>{{ post.description }}</div>

        {# Post voting #}
        <form action="{% url 'vote' category.slug post.id post.slug %}" method="post">
            {% csrf_token %}
            <button type="submit" name="vote" value="1">+</button>
            {% get_post_votes post %}
            <button type="submit" name="vote" value="-1">-</button>
            <input type="hidden" name="next" value="{{ request.path }}">
        </form>

				<form id="comment_form" method="post"
					  action="/category/{{ category.slug }}/{{ post.id }}/{{ post.slug }}/"
					  enctype="multipart/form-data">


        {# New comment form #}
        {% if user.is_authenticated %}

            <div>Comment as {{ user.username }}</div>

				<div class="separator"></div>
			{% endif %}
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <input type="submit" name="submit" value="Comment"/>
            </form>

            <div class="separator"></div>
        {% endif %}


        {# Render Comments #}
        {% if comments %}
            {% for comment in comments %}
                {# Comment Voting #}
                <div>
                    <form action="{% url 'vote_comment' category.slug post.id post.slug %}" method="post">
                        &lt;{{ comment.user }}&gt;

                        {% csrf_token %}

                        <button type="submit" name="vote_comment" value="1">+</button>
                        {% get_comment_votes comment %}
                        <button type="submit" name="vote_comment" value="-1">-</button>

                        {# comment id to later identify comment upvoted #}
                        <input type="hidden" name="id" value="{{ comment.id }}">
                    </form>
                </div>

                <div>{{ comment.content }}</div>

                {% if comment.picture %}
                    <div>
                        <object width="355" height="200" data="{{ MEDIA_URL }}{{ comment.picture }}"></object>
                    </div>
                {% endif %}

            {% endfor %}
        {% endif %}

    {% else %}
        Post does not exist
    {% endif %}

			<!-- Render Comments -->
			{% if comments %}
				{% for comment in comments %}
					<!-- Comment Voting -->
					<p>
					<form action="{% url 'vote_comment' category.slug post.id post.slug %}" method="post">
						&lt;{{ comment.user }}&gt;
						{% csrf_token %}
						<button type="submit" name="upvote_comment" value="upvote_comment">+</button>
						<!-- Store comment id to later identify upvoted comment -->
						<input type="hidden" name="id" value="{{ comment.id }}">
					</form>
					{{ comment.likes }}
					<form action="{% url 'vote_comment' category.slug post.id post.slug %}" method="post">
						{% csrf_token %}
						<button type="submit" name="downvote_comment" value="downvote_comment">-</button>
						<input type="hidden" name="id" value="{{ comment.id }}">
					</form>
					</p>
					<p>{{ comment.content }}</p>
					{% if comment.picture %}
						<p><object width="355" height="200" data="{{ MEDIA_URL }}{{ comment.picture }}"></object></p>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% else %}
			Post does not exist
		{% endif %}
	</div>

{% endblock %}