{% extends 'meansunz/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
	<div class="contentBody">
		<h2>register</h2>
		{% if registered %}
			Thank you for registering!
			<div style="font-size:18px; color: blue;"><a href="{% url 'login' %}">Please login.</a></div><br />
		{% else %}

			<form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">

				{% csrf_token %}

				<!-- Display each form -->
				{{ user_form.as_p }}
				{{ profile_form.as_p }}

				<input type="submit" name="submit" value="Register" />
			</form>
		{% endif %}
	</div>
{% endblock %}